* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    box-sizing: border-box;
   
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

body{
    cursor: default;
    background-image: linear-gradient(to right, rgba(19, 19, 19, 0.885) , rgba(98, 105, 110, 0.151), rgba(19, 19, 19, 0.885)), 
    url("https://i.pinimg.com/originals/db/98/76/db98763b8805ea8185ce45413b4f8e3c.jpg");
    background-size: cover; 
    background-attachment: fixed;  
    background-repeat: no-repeat;  
    background-position: center;  
}
.search input, button{
margin-bottom: 40px;
}
h1{
    position: relative;
    display: inline-block;
    font-size: 2em;
    color: rgb(219, 216, 216);
    cursor: pointer;
   text-shadow: 0 0 10px black,
                0 0 20px cyan,
                0 0 40px rgb(9, 14, 172),
                0 0 80px cyan;
}
h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #072c50;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
h1:hover::after{
    transform: scale(1);
    transform-origin: bottom left;
}
h2{
  text-shadow: 0 0 10px black,
  0 0 20px cyan,
  0 0 40px rgb(9, 14, 172),
  0 0 80px cyan;
}
input {
    text-align: left;
    width: 4in;
    height: 30px;
    border-radius: 100px;
    padding: 10px;
    border-color: pink;
   
}
.main{
    display: grid;
    grid-template-columns: 1fr 4fr  1fr;
}
button{
    cursor: pointer;
    border: 0;
   border-radius: 5px;
   padding: 5px 15px 5px 15px;
}
button:hover{
    box-shadow: 1px 2px 10px 3px rgba(46, 46, 46, 0.264);
    color: white;
    background-color: blue;

}
.pokemon-container{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
    
}

.card{
    cursor: pointer;
    background-color: rgb(223, 230, 237);
    transition: ease-in-out 0.5s;
    width: 150px;
    height: 210px;
    box-shadow: 0 1px 5px rgb(24, 27, 0);
    
}
.card:hover a{

    transition: 0.1ms;
    
}
.card:hover  {
    box-shadow: 3px 10px 20px  rgb(9, 9, 9);
    transition: ease-out .1s;
    transform: translate(2px, -2px)
    
}
.card:hover img{
   transition: 0.3s;
   transform: scale(1.3);
}
.card:hover:has(.electric) img {
    filter: drop-shadow(0 1px 15px #c90);
  }

.card img{
    width: 100%;
    padding: 15px;
    transition: 0.3s;
}
.card ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
}
.pokemon-id{
    font-size: 10px;
}
.pokemon-name{

    text-transform: capitalize;
    color: #1420d2ca;
    font-weight: bold;
}

.pokemon-type span {
  font-weight: 500;
  font-size: 10px;
  margin: auto 2px;
  padding: 2px 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px -1px #000000d7;
  color: white ;
}
/*TYPINGS*/
.card span{
    margin: 1px;
    padding: 2px 4px;
    border-radius: 2px;
    display: inline-block;   
}
.electric {background-color: #c90;}
.card:hover:has(.electric) img {filter: drop-shadow(0 1px 15px #c90);}
.psychic {background-color: #ff227a;}
.card:hover:has(.psychic) img {filter: drop-shadow(1px 1px 15px #ff227a);}
.grass {background-color: green;}
.card:hover:has(.grass) img {filter: drop-shadow(0 1px 15px green);}
.poison {background-color: purple;}
.card:hover:has(.poison) img {filter: drop-shadow(0 1px 15px purple);}
.fire {background-color: rgba(255, 68, 0, 0.81);}
.card:hover:has(.fire) img {filter: drop-shadow(0 1px 15px rgba(255, 68, 0, 0.81));}
.water {background-color: blue;}
.card:hover:has(.water) img {filter: drop-shadow(0 1px 15px blue);}
.flying {background-color: darkblue;}
.card:hover:has(.flying) img {filter: drop-shadow(0 1px 15px darkblue);}
.bug {background-color: darkgreen;}
.card:hover:has(.bug) img {filter: drop-shadow(0 1px 15px darkgreen);}
.card:hover:has(.ground) img {filter: drop-shadow(0 1px 15px #bf9926);}
.fairy {background-color: #e76de7;}
.card:hover:has(.fairy) img {filter: drop-shadow(0 1px 15px #e76de7);}
.fighting {background-color: darkred;}
.card:hover:has(.fighting) img {filter: drop-shadow(0 1px 15px darkred);}
.rock {background-color: #a59249;}
.card:hover:has(.rock) img {filter: drop-shadow(0 1px 15px #a59249);}
.steel {background-color: #8e8ea4;}
.card:hover:has(.steel) img {filter: drop-shadow(0 1px 15px #8e8ea4);}
.dark {background-color: #573e31;}
.card:hover:has(.dark) img {filter: drop-shadow(0 1px 15px #573e31);}
.ice {background-color: #0af;}
.card:hover:has(.ice) img {filter: drop-shadow(0 1px 15px #0af);}
.ghost {background-color: #5454b3;}
.card:hover:has(.ghost) img {filter: drop-shadow(0 1px 15px #5454b3);}
.dragon {background-color: #4e38e9;}
.card:hover:has(.dragon) img {filter: drop-shadow(0 1px 15px #4e38e9);}
.normal {background-color: rgb(61, 61, 61);}
.card:hover:has(.normal) img {filter: drop-shadow(0 1px 15px rgb(61, 61, 61));}
.ground {background-color: #bf9926;}

/* pages */

.bot{
  justify-self: start; 
  margin-bottom: -10000px;
}.bot button{
  box-shadow: -3px 3px 3px -1px #212121d7;
}
.bot:hover button{
  box-shadow: -3px 3px 3px -1px #212121d7;

}
.pokemon-page {
  display: grid;
  grid-template-columns: 1fr; /* Single-column layout */
  grid-template-rows: auto auto;
    width: 800px;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #00000065;
  }
  
  .pokemon-page h1 {
    color: 000;
  }
  .pokemon-page p {
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
  }
  
  .pokemon-page-image {
    width: 380px;
    text-align: center;
  }
  
  .pokemon-page-image img {
    width: 240px;
    margin: 5px auto;
  }
  
  .pokemon-main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .pokemon-page-details {
    padding: 10px 25px;
  }
  
  .pokemon-page-abilities span {
    font-weight: 500;
    font-size: 10px;
    margin: auto 2px;
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px -1px #000000d7;
    color: white !important;
  }
  
  .pokemon-page-stats {
    padding: 10px 25px;
  }
  
  .pokemon-page-stats table{
    margin: 10px auto;
    width: 100%;
  }
  
  .pokemon-page-stats table .bar div {
    width: 0px;
    height: 13px;
    background-color: #0dc80d;
  }
  .pokemon-main-content table{
    border-collapse: collapse;
  }

  .pokemon-main-content table tr td {
    border-bottom: 1px solid #0000002d;
    padding: 2px 0px;
  }
  .pokemon-page-evolution {
    display: flex;
    flex-wrap: wrap;
  }
  
  .pokemon-main-content table tr td:nth-child(1){
    color: rgb(90, 90, 90);
  }
  
  .pokemon-main-content table tr td:nth-child(2){
    padding-left: 15px;
    font-weight: 500;
  }
  
  .pokemon-page-details:has(.electric) .pokemon-page-abilities span {
    background-color: #c90;
  }
  
  .pokemon-page-details:has(.psychic) .pokemon-page-abilities span {
    background-color: #ff227a;
  }
  
  .pokemon-page-details:has(.grass) .pokemon-page-abilities span {
    background-color: green;
  }
  
  .pokemon-page-details:has(.poison) .pokemon-page-abilities span {
    background-color: purple;
  }
  
  .pokemon-page-details:has(.fire) .pokemon-page-abilities span {
    background-color: rgba(255, 68, 0, 0.81);
  }
  
  .pokemon-page-details:has(.water) .pokemon-page-abilities span {
    background-color: blue;
  }
  
  .pokemon-page-details:has(.flying) .pokemon-page-abilities span {
    background-color: darkblue;
  }
  
  .pokemon-page-details:has(.bug) .pokemon-page-abilities span {
    background-color: darkgreen;
  }
  
  .pokemon-page-details:has(.normal) .pokemon-page-abilities span {
    background-color: grey;
  }
  
  .pokemon-page-details:has(.ground) .pokemon-page-abilities span {
    background-color: #bf9926;
  }
  
  .pokemon-page-details:has(.fairy) .pokemon-page-abilities span {
    background-color: #e76de7;
  }
  
  .pokemon-page-details:has(.fighting) .pokemon-page-abilities span {
    background-color: darkred;
  }
  
  .pokemon-page-details:has(.rock) .pokemon-page-abilities span {
    background-color: #a59249;
  }
  
  .pokemon-page-details:has(.steel) .pokemon-page-abilities span {
    background-color: #8e8ea4;
  }
  
  .pokemon-page-details:has(.dark) .pokemon-page-abilities span {
    background-color: #573e31;
  }
  
  .pokemon-page-details:has(.ice) .pokemon-page-abilities span {
    background-color: #0af;
  }
  
  .pokemon-page-details:has(.ghost) .pokemon-page-abilities span {
    background-color: #5454b3;
  }
  
  .pokemon-page-details:has(.dragon) .pokemon-page-abilities span {
    background-color: #4e38e9;
  }